[submodule "sources/vue"]
	path = sources/vue
	url = https://github.com/vuejs/docs
[submodule "sources/nuxt"]
	path = sources/nuxt
	url = https://github.com/nuxt/nuxt
[submodule "sources/vite"]
	path = sources/vite
	url = https://github.com/vitejs/vite
[submodule "vendor/slidev"]
	path = vendor/slidev
	url = https://github.com/slidevjs/slidev
[submodule "vendor/vueuse"]
	path = vendor/vueuse
	url = https://github.com/vueuse/skills
[submodule "sources/vitest"]
	path = sources/vitest
	url = https://github.com/vitest-dev/vitest
[submodule "sources/pnpm"]
	path = sources/pnpm
	url = https://github.com/pnpm/pnpm.io
[submodule "sources/vitepress"]
	path = sources/vitepress
	url = https://github.com/vuejs/vitepress
[submodule "vendor/turborepo"]
	path = vendor/turborepo
	url = https://github.com/vercel/turborepo
[submodule "vendor/web-design-guidelines"]
	path = vendor/web-design-guidelines
	url = https://github.com/vercel-labs/agent-skills
[submodule "sources/pinia"]
	path = sources/pinia
	url = https://github.com/vuejs/pinia
[submodule "vendor/tsdown"]
	path = vendor/tsdown
	url = https://github.com/rolldown/tsdown
[submodule "vendor/vuejs-ai"]
	path = vendor/vuejs-ai
	url = https://github.com/vuejs-ai/skills
[submodule "sources/vben"]
	path = sources/vben
	url = https://github.com/vbenjs/vue-vben-admin
[submodule "sources/tailwindcss"]
	path = sources/tailwindcss
	url = https://github.com/tailwindlabs/tailwindcss.com
